{% if item.router is defined %}
{% for router in item.router %}
router {
{% if router.id is defined %}
    id: {{ router.id }}
{% endif %}
{% if router.mode is defined %}
    mode: {{ router.mode }}
{% endif %}
{% if router.area is defined %}
    area: {{ router.area }}
{% endif %}
{% if router.version is defined %}
    version: {{ router.version }}
{% endif %}
{% if router.helloInterval is defined %}
    helloInterval: {{ router.helloInterval }}
{% endif %}
{% if router.helloMaxAge is defined %}
    helloMaxAge: {{ router.helloMaxAge }}
{% endif %}
{% if router.raInterval is defined %}
    raInterval: {{ router.raInterval }}
{% endif %}
{% if router.raIntervalFlux is defined %}
    raIntervalFlux: {{ router.raIntervalFlux }}
{% endif %}
{% if router.remoteLsMaxAge is defined %}
    remoteLsMaxAge: {{ router.remoteLsMaxAge }}
{% endif %}
{% if router.addrCount is defined %}
    addrCount: {{ router.addrCount }}
{% endif %}
{% if router.linkCount is defined %}
    linkCount: {{ router.linkCount }}
{% endif %}
{% if router.nodeCount is defined %}
    nodeCount: {{ router.nodeCount }}
{% endif %}
{% if router.linkRouteCount is defined %}
    linkRouteCount: {{ router.linkRouteCount }}
{% endif %}
{% if router.autoLinkCount is defined %}
    autoLinkCount: {{ router.autoLinkCount }}
{% endif %}
{% if router.connectionCount is defined %}
    connectionCount: {{ router.connectionCount }}
{% endif %}
{% if router.workerThreads is defined %}
    workerThreads: {{ router.workerThreads }}
{% endif %}
{% if router.debugDump is defined %}
    debugDump: {{ router.debugDump }}
{% endif %}
{% if router.saslConfigPath is defined %}
    saslConfigPath: {{ router.saslConfigPath }}
{% endif %}
{% if router.saslConfigName is defined %}
    saslConfigName: {{ router.saslConfigName }}
{% endif %}
{% if router.allowUnsettledMulticast is defined %}
    allowUnsettledMulticast: {{ router.allowUnsettledMulticast }}
{% endif %}
{% if router.routerId is defined %}
    routerId: {{ router.routerId }}
{% endif %}
{% if router.mobileAddrMaxAge is defined %}
    mobileAddrMaxAge: {{ router.mobileAddrMaxAge }}
{% endif %}
{% if router.defaultDistribution is defined %}
    defaultDistribution: {{ router.defaultDistribution }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.sslProfile is defined %}
{% for sslProfile in item.sslProfile %}
sslProfile {
{% if sslProfile.certDb is defined %}
    certDb: {{ sslProfile.certDb }}
{% endif %}
{% if sslProfile.certFile is defined %}
    certFile: {{ sslProfile.certFile }}
{% endif %}
{% if sslProfile.keyFile is defined %}
    keyFile: {{ sslProfile.keyFile }}
{% endif %}
{% if sslProfile.passwordFile is defined %}
    passwordFile: {{ sslProfile.passwordFile }}
{% endif %}
{% if sslProfile.password is defined %}
    password: {{ sslProfile.password }}
{% endif %}
{% if sslProfile.uidFormat is defined %}
    uidFormat: {{ sslProfile.uidFormat }}
{% endif %}
{% if sslProfile.displayNameFile is defined %}
    displayNameFile: {{ sslProfile.displayNameFile }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.authServicePlugin is defined %}
{% for authServicePlugin in item.authServicePlugin %}
authServicePlugin {
{% if authServicePlugin.authService is defined %}
    authService: {{ authServicePlugin.authService }}
{% endif %}
{% if authServicePlugin.saslInitHostname is defined %}
    saslInitHostname: {{ authServicePlugin.saslInitHostname }}
{% endif %}
{% if authServicePlugin.authSslProfile is defined %}
    authSslProfile: {{ authServicePlugin.authSslProfile }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.listener is defined %}
{% for listener in item.listener %}
listener {
{% if listener.host is defined %}
    host: {{ listener.host }}
{% endif %}
{% if listener.port is defined %}
    port: {{ listener.port }}
{% endif %}
{% if listener.protocolFamily is defined %}
    protocolFamily: {{ listener.protocolFamily }}
{% endif %}
{% if listener.role is defined %}
    role: {{ listener.role }}
{% endif %}
{% if listener.cost is defined %}
    cost: {{ listener.cost }}
{% endif %}
{% if listener.sslProfile is defined %}
    sslProfile: {{ listener.sslProfile }}
{% endif %}
{% if listener.saslMechanisms is defined %}
    saslMechanisms: {{ listener.saslMechanisms }}
{% endif %}
{% if listener.authenticatePeer is defined %}
    authenticatePeer: {{ listener.authenticatePeer }}
{% endif %}
{% if listener.saslPlugin is defined %}
    saslPlugin: {{ listener.saslPlugin }}
{% endif %}
{% if listener.requireEncryption is defined %}
    requireEncryption: {{ listener.requireEncryption }}
{% endif %}
{% if listener.requireSsl is defined %}
    requireSsl: {{ listener.requireSsl }}
{% endif %}
{% if listener.trustedCerts is defined %}
    trustedCerts: {{ listener.trustedCerts }}
{% endif %}
{% if listener.maxFrameSize is defined %}
    maxFrameSize: {{ listener.maxFrameSize }}
{% endif %}
{% if listener.maxSessions is defined %}
    maxSessions: {{ listener.maxSessions }}
{% endif %}
{% if listener.maxSessionFrames is defined %}
    maxSessionFrames: {{ listener.maxSessionFrames }}
{% endif %}
{% if listener.idleTimeoutSeconds is defined %}
    idleTimeoutSeconds: {{ listener.idleTimeoutSeconds }}
{% endif %}
{% if listener.stripAnnotations is defined %}
    stripAnnotations: {{ listener.stripAnnotations }}
{% endif %}
{% if listener.linkCapacity is defined %}
    linkCapacity: {{ listener.linkCapacity }}
{% endif %}
{% if listener.multiTenant is defined %}
    multiTenant: {{ listener.multiTenant }}
{% endif %}
{% if listener.failoverList is defined %}
    failoverList: {{ listener.failoverList }}
{% endif %}
{% if listener.addr is defined %}
    addr: {{ listener.addr }}
{% endif %}
{% if listener.allowNoSasl is defined %}
    allowNoSasl: {{ listener.allowNoSasl }}
{% endif %}
{% if listener.requirePeerAuth is defined %}
    requirePeerAuth: {{ listener.requirePeerAuth }}
{% endif %}
{% if listener.allowUnsecured is defined %}
    allowUnsecured: {{ listener.allowUnsecured }}
{% endif %}
{% if listener.http is defined %}
    http: {{ listener.http }}
{% endif %}
{% if listener.httpRoot is defined %}
    httpRoot: {{ listener.httpRoot }}
{% endif %}
{% if listener.logMessage is defined %}
    logMessage: {{ listener.logMessage }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.connector is defined %}
{% for connector in item.connector %}
connector {
{% if connector.host is defined %}
    host: {{ connector.host }}
{% endif %}
{% if connector.port is defined %}
    port: {{ connector.port }}
{% endif %}
{% if connector.protocolFamily is defined %}
    protocolFamily: {{ connector.protocolFamily }}
{% endif %}
{% if connector.role is defined %}
    role: {{ connector.role }}
{% endif %}
{% if connector.cost is defined %}
    cost: {{ connector.cost }}
{% endif %}
{% if connector.sslProfile is defined %}
    sslProfile: {{ connector.sslProfile }}
{% endif %}
{% if connector.saslMechanisms is defined %}
    saslMechanisms: {{ connector.saslMechanisms }}
{% endif %}
{% if connector.allowRedirect is defined %}
    allowRedirect: {{ connector.allowRedirect }}
{% endif %}
{% if connector.maxFrameSize is defined %}
    maxFrameSize: {{ connector.maxFrameSize }}
{% endif %}
{% if connector.maxSessions is defined %}
    maxSessions: {{ connector.maxSessions }}
{% endif %}
{% if connector.maxSessionFrames is defined %}
    maxSessionFrames: {{ connector.maxSessionFrames }}
{% endif %}
{% if connector.idleTimeoutSeconds is defined %}
    idleTimeoutSeconds: {{ connector.idleTimeoutSeconds }}
{% endif %}
{% if connector.stripAnnotations is defined %}
    stripAnnotations: {{ connector.stripAnnotations }}
{% endif %}
{% if connector.linkCapacity is defined %}
    linkCapacity: {{ connector.linkCapacity }}
{% endif %}
{% if connector.verifyHostName is defined %}
    verifyHostName: {{ connector.verifyHostName }}
{% endif %}
{% if connector.saslUsername is defined %}
    saslUsername: {{ connector.saslUsername }}
{% endif %}
{% if connector.saslPassword is defined %}
    saslPassword: {{ connector.saslPassword }}
{% endif %}
{% if connector.addr is defined %}
    addr: {{ connector.addr }}
{% endif %}
{% if connector.logMessage is defined %}
    logMessage: {{ connector.logMessage }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.log is defined %}
{% for log in item.log %}
log {
{% if log.module is defined %}
    module: {{ log.module }}
{% endif %}
{% if log.enable is defined %}
    enable: {{ log.enable }}
{% endif %}
{% if log.timestamp is defined %}
    timestamp: {{ log.timestamp }}
{% endif %}
{% if log.source is defined %}
    source: {{ log.source }}
{% endif %}
{% if log.output is defined %}
    output: {{ log.output }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.address is defined %}
{% for address in item.address %}
address {
{% if address.prefix is defined %}
    prefix: {{ address.prefix }}
{% endif %}
{% if address.pattern is defined %}
    pattern: {{ address.pattern }}
{% endif %}
{% if address.distribution is defined %}
    distribution: {{ address.distribution }}
{% endif %}
{% if address.waypoint is defined %}
    waypoint: {{ address.waypoint }}
{% endif %}
{% if address.ingressPhase is defined %}
    ingressPhase: {{ address.ingressPhase }}
{% endif %}
{% if address.egressPhase is defined %}
    egressPhase: {{ address.egressPhase }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.linkRoute is defined %}
{% for linkRoute in item.linkRoute %}
linkRoute {
{% if linkRoute.prefix is defined %}
    prefix: {{ linkRoute.prefix }}
{% endif %}
{% if linkRoute.containerId is defined %}
    containerId: {{ linkRoute.containerId }}
{% endif %}
{% if linkRoute.connection is defined %}
    connection: {{ linkRoute.connection }}
{% endif %}
{% if linkRoute.distribution is defined %}
    distribution: {{ linkRoute.distribution }}
{% endif %}
{% if linkRoute.dir is defined %}
    dir: {{ linkRoute.dir }}
{% endif %}
{% if linkRoute.operStatus is defined %}
    operStatus: {{ linkRoute.operStatus }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.autoLink is defined %}
{% for autoLink in item.autoLink %}
autoLink {
{% if autoLink.addr is defined %}
    addr: {{ autoLink.addr }}
{% endif %}
{% if autoLink.dir is defined %}
    dir: {{ autoLink.dir }}
{% endif %}
{% if autoLink.phase is defined %}
    phase: {{ autoLink.phase }}
{% endif %}
{% if autoLink.containerId is defined %}
    containerId: {{ autoLink.containerId }}
{% endif %}
{% if autoLink.connection is defined %}
    connection: {{ autoLink.connection }}
{% endif %}
{% if autoLink.externalAddr is defined %}
    externalAddr: {{ autoLink.externalAddr }}
{% endif %}
{% if autoLink.linkRef is defined %}
    linkRef: {{ autoLink.linkRef }}
{% endif %}
{% if autoLink.operStatus is defined %}
    operStatus: {{ autoLink.operStatus }}
{% endif %}
{% if autoLink.lastError is defined %}
    lastError: {{ autoLink.lastError }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.console is defined %}
{% for console in item.console %}
console {
{% if console.listener is defined %}
    listener: {{ console.listener }}
{% endif %}
{% if console.wsport is defined %}
    wsport: {{ console.wsport }}
{% endif %}
{% if console.proxy is defined %}
    proxy: {{ console.proxy }}
{% endif %}
{% if console.home is defined %}
    home: {{ console.home }}
{% endif %}
{% if console.args is defined %}
    args: {{ console.args }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.policy is defined %}
{% for policy in item.policy %}
policy {
{% if policy.maxConnections is defined %}
    maxConnections: {{ policy.maxConnections }}
{% endif %}
{% if policy.enableVhostPolicy is defined %}
    enableVhostPolicy: {{ policy.enableVhostPolicy }}
{% endif %}
{% if policy.policyDir is defined %}
    policyDir: {{ policy.policyDir }}
{% endif %}
{% if policy.defaultVhost is defined %}
    defaultVhost: {{ policy.defaultVhost }}
{% endif %}
{% if policy.connectionsProcessed is defined %}
    connectionsProcessed: {{ policy.connectionsProcessed }}
{% endif %}
{% if policy.connectionsDenied is defined %}
    connectionsDenied: {{ policy.connectionsDenied }}
{% endif %}
{% if policy.connectionsCurrent is defined %}
    connectionsCurrent: {{ policy.connectionsCurrent }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.vhost is defined %}
{% for vhost in item.vhost %}
vhost {
{% if vhost.id is defined %}
    id: {{ vhost.id }}
{% endif %}
{% if vhost.maxConnections is defined %}
    maxConnections: {{ vhost.maxConnections }}
{% endif %}
{% if vhost.maxConnectionsPerUser is defined %}
    maxConnectionsPerUser: {{ vhost.maxConnectionsPerUser }}
{% endif %}
{% if vhost.maxConnectionsPerHost is defined %}
    maxConnectionsPerHost: {{ vhost.maxConnectionsPerHost }}
{% endif %}
{% if vhost.allowUnknownUser is defined %}
    allowUnknownUser: {{ vhost.allowUnknownUser }}
{% endif %}
{% if vhost.groups is defined %}
    groups: {{ vhost.groups }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.container is defined %}
{% for container in item.container %}
container {
{% if container.containerName is defined %}
    containerName: {{ container.containerName }}
{% endif %}
{% if container.workerThreads is defined %}
    workerThreads: {{ container.workerThreads }}
{% endif %}
{% if container.debugDump is defined %}
    debugDump: {{ container.debugDump }}
{% endif %}
{% if container.saslConfigPath is defined %}
    saslConfigPath: {{ container.saslConfigPath }}
{% endif %}
{% if container.saslConfigName is defined %}
    saslConfigName: {{ container.saslConfigName }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.waypoint is defined %}
{% for waypoint in item.waypoint %}
waypoint {
{% if waypoint.address is defined %}
    address: {{ waypoint.address }}
{% endif %}
{% if waypoint.connector is defined %}
    connector: {{ waypoint.connector }}
{% endif %}
{% if waypoint.inPhase is defined %}
    inPhase: {{ waypoint.inPhase }}
{% endif %}
{% if waypoint.outPhase is defined %}
    outPhase: {{ waypoint.outPhase }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.fixedAddress is defined %}
{% for fixedAddress in item.fixedAddress %}
fixedAddress {
{% if fixedAddress.prefix is defined %}
    prefix: {{ fixedAddress.prefix }}
{% endif %}
{% if fixedAddress.phase is defined %}
    phase: {{ fixedAddress.phase }}
{% endif %}
{% if fixedAddress.fanout is defined %}
    fanout: {{ fixedAddress.fanout }}
{% endif %}
{% if fixedAddress.bias is defined %}
    bias: {{ fixedAddress.bias }}
{% endif %}
}

{% endfor %}
{% endif %}
{% if item.linkRoutePattern is defined %}
{% for linkRoutePattern in item.linkRoutePattern %}
linkRoutePattern {
{% if linkRoutePattern.prefix is defined %}
    prefix: {{ linkRoutePattern.prefix }}
{% endif %}
{% if linkRoutePattern.dir is defined %}
    dir: {{ linkRoutePattern.dir }}
{% endif %}
{% if linkRoutePattern.connector is defined %}
    connector: {{ linkRoutePattern.connector }}
{% endif %}
}

{% endfor %}
{% endif %}
